html,
body {
    padding: 0;
    margin: 0;
}

* {
    font-family: 'Barrio';
}

img {
    max-width: 100%;
}

.text-center {
    text-align: center;
}

.img-center {
    margin: 0 auto;
    display: block;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.mt-3 {
    margin-top: 1rem;
}

header {
    height: 25vh;
    position: relative;
}

main {
    height: 60vh;
}

footer {
    height: 15vh;
}

header .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

header .logo {
    position: absolute;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    max-height: 15vh;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 992px;
    margin: 0 auto;
    text-align: center;
}

main form {
    margin: 0 auto;
}

input {
    font-family: 'Barlow';
}

.text:not(h1), .text:not(h1) * {
    font-family: 'Barlow';
    font-size: 1.5rem;
    margin: 0;
}

h1.text {
    font-size: 3rem;
    font-family: 'Barlow';
}

.title {
    font-size: 2.8rem;
    position: relative;
}

.title--bg {
    padding: 100px 200px;
}

.title--bg:after {
    position: absolute;
    content: '';
    background: url(./img/inputBg.png) center center no-repeat;
    background-size: contain;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.drinkform input:not([type="checkbox"]) {
    width: 100%;
    height: 40px;
    padding: 13px;
    border: none;
    border-radius: 3rem;
    font-size: 1.6rem;
    font-family: 'Barlow';
}

.drinkform .btn {
    background: linear-gradient(90deg, rgb(240, 145, 1) 0%, rgb(197, 60, 32) 100%);
    padding: 15px 85px;
    border: none;
    border-radius: 3rem;
    color: #fff;
    font-size: 2.2rem;
    text-transform: uppercase;
    position: relative;
    top: -70px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin-bottom: 2rem;
}

.status,
.alert {
    animation: popout 1s ease;
    -webkit-animation: popout 1s ease;
}
@keyframes popout {
    from{transform:scale(0)}
    80%{transform:scale(1.2)}
    to{transform:scale(1)}
}
@-webkit-keyframes popout {
    from{-webkit-transform:scale(0)}
    80%{-webkit-transform:scale(1.2)}
    to{-webkit-transform:scale(1)}
}

.drinkform .btn:hover,
.drinkform .btn:focus {
    transform: rotate(-3deg);
}

.drinkform .inputWrap {
    display: block;
    width: 100%;
    height: 40px;
    background: linear-gradient(90deg, rgb(240, 145, 1) 0%, rgb(197, 60, 32) 100%);
    position: relative;
    top: -90px;
    max-width: 370px;
    padding: 6px;
    border: none;
    border-radius: 3rem;
    text-align: center;
    margin: 0 auto;
}

.chance {
    width: 300px;
    margin: 0 auto;
    display: block;
}

.alert {
    padding: 10px;
    font-size: 1.5em;
    background: transparent;
    border-radius: 3rem;
    position: relative;
    bottom: -20px;
}

.alert-danger {
    color: #c63e1f;
}

.group .inputWrap,
.group .btn,
.btn-normal {
    top: initial !important;
    bottom: initial !important;
}

.group--check {
    font-size: 1.5rem;
}

.ipr-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}

.ipr-3 .wrap:first-of-type {
    flex: 4 0 0;
}

.ipr-3 .wrap:nth-child(2) {
    flex: 1 0 0 !important;
}

.ipr-3 .wrap:last-of-type {
    flex: 4 0 0;
}

.p-3 {
    padding: 1rem;
}

.label {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
    display: block;
    font-family: 'Barlow';
    font-weight: 800;
}

.ff-barlow,
.ff-barlow > *{
    font-family: 'Barlow';
}

.custom-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.custom-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked ~ .checkmark {
    background-color: #b71c3c;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media (max-width: 720px) {

    main {
        height: 50vh;
        max-height: 300px;
    }

    footer {
        height: 25vh;
    }

    header .logo {
        max-height: 10vh;
    }

    .title--bg {
        padding: 30px 25%;
    }

    .title {
        font-size: 1.4rem;
    }

    .drinkform .inputWrap {
        max-width: 80%;
        top: -30px;
    }

    .drinkform .btn {
        font-size: 1.5rem;
        padding: 12px 57px;
        top: -20px;
    }

    .alert {
        font-size: 1rem;
        bottom: 0;
    }

    .ipr-3 {
        flex-direction: column;
    }

    .group .inputWrap,
    .group .btn,
    .btn-normal {
        top: initial;
        bottom: initial;
    }

    .group .btn {
        margin-bottom: 2rem;
    }

    .wrap {
        margin-bottom: 1rem;
    }

    .group--check {
        font-size: 1rem;
        max-width: 70%;
        margin: 0 auto;
    }

    h1.text {
        font-size: 2rem;
    }

    .p-3 {
        padding: 0.25rem;
    }
}